/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/*BASIC CONFIG*/
@font-face {
    font-family: "parisienne";
    src: url(../fonts/parisienne.woff2);
}
@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuc.woff2);
}

/*set css default cho page trên body*/
body{
	font:14px/20px 'Trebuchet MS', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
ul li{
	list-style-type:none; 

}
/* Left*/

.wrapper {
	overflow:hidden;
	background:#b8000e;
}
.minor-wrapper {
	position: relative;
	
}


#left {
	width:264px;
	float:right;
	transition:1s ease all;
	
}

/*HERE HERE HERE*/
#main-menu {
	position:absolute;
	right:0px;
	top:0px;
	width:150px;
	cursor:pointer;
}

#bigDog{
	float:right;
}
.main-menu-item{
	background:#282828;
	color:#ffffff;
	text-align:center;
	margin-top:1px;
	position:relative;
	transition:0.5s ease all;
}

.main-menu-item:hover {
	background:#ffbe40;
	
}
.main-menu-item:hover #sub-menu {
	display:block;
}
.main-menu-item a {
	text-decoration:none;
	color:#fff;
	padding: 10px 20px;
	display: block;
}
.icon1 {
	top: 340px;
	position: absolute;
	right: 30px;
	background:url('../images/extra2.png') no-repeat center 0;
	width:93px;
	height:90px;
	
}
.icon2 {
	top: 535px;
	position: absolute;
	right: 30px;
	background:url('../images/extra3.png') no-repeat center 0;
	width:93px;
	height:90px;
	
}
.text1 {
	color: #ffbe40;
	font: 69px/69px 'Parisienne', Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	top: 61px;
	transition: 0.5s ease all;
	-webkit-transform:translate(-117px,0);
	transform:translate(-117px,0);
}
.text2 {
	color: #ffffff;
	font: 700 41px/41px 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	top: 120px;
	transition: 0.5s ease all;
	-webkit-transform:translate(-88px,0);
	transform:translate(-88px,0);
}
#sub-menu {
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 10;
	width: 100%;
	background: #ff2f37;
	display:none;
	transition:0.5s ease all;
}
.sub-menu-item {
	
	padding: 5px 0;
	background: #ff2f37;

}

.sub-menu-item:first-child {
	padding-top: 26px;
	padding-bottom: 0;
}
.sub-menu-item:last-child {
	padding-bottom: 26px;
	padding-top: 0;
}

#minor-menu {
	display:none;
	
}


/*right-side*/
#right {
	min-height:1000px;
	float:right;
	background:#ffffff;
	width:500px;
	transition:0.5s ease all;
}
#animation li{
 	list-style-type:none;	
 
 }
#logo {
	display:block;
	padding: 70px 80px;
}

 /* firstpage*/
.frame {
	position:absolute;
	overflow:hidden;
	margin-left:80px;
	padding-top:55px;
	border-top: 1px solid #ebebeb;
	transform:translate(900px,0);
	transition:1s ease all;
}
/*.frame.show {
	transform:translate(0,0);
	display:block;
}*/
	
.firstpage{
	
	width:370px;
	transform:translate(0,0);
}

.main-content {
	float:left;
	height:530px;
}
.main-content img{
	margin-bottom:20px;
}

.main-content .welcome{
	font:20px/24px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#171717;
	margin: 0 0 20px 0;
}

.main-content p{
	width: 370px;
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#9e9e9e;
	margin-bottom:30px;
}

/* .more not #more */
.more {
	background:#ff9e40;
	color:#ffffff;
	text-decoration:none;
	padding:10px 22px;
	border-radius: 5px;
	font:600 14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform:uppercase;
	border:none;
	transition: all 0.3s ease;
	display: inline-block;
}

.more:hover{
	background:#B7000F;
 /*transition đặt o trang thái default phía trên*/
}

/*main*/
#owner {
	float:left;
	width: 370px;
	margin-left: 30px;
	
}
#owner a {
	width: 370px;
	margin: 10px;
	text-decoration: none;
	font-size: 20px;
}

#owner a:hover {
	color:#b8000e;
	
}
#owner img {
	margin-bottom:20px;
	
}
/*layout animate class
	rightState: firstpage (homepage)
	leftState: after click menu item
*/

/*history*/
.history{
	width:770px;
}
.history-title {
	font:20px/24px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#171717;
	margin-bottom:20px;
}
.history-content{
	margin-bottom: 30px ;
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#9e9e9e;
}


#right.open{
	width: 900px;  
}

.icon:hover {
	 background-position:center -90px;
	
}

.icon:hover .text1{
	color: #ffffff;	
	-webkit-transform:translate(-137px,0);
	transform:translate(-137px,0);
}

.icon:hover .text2{
	color:#ffbe40;	
	-webkit-transform:translate(-108px,0);
	transform:translate(-108px,0);
}

/*#left:hover {
	width:60%;
	
} */
/* ourdog */
.ourdog{
	overflow:hidden;
}

.ourdog-item{
	float:left;
	width: 50%;
	margin-bottom:36px;
}

.item-img{
	float:left;
	margin-right: 25px;
}

.ourdog-text {
	width:auto;
}
.ourdog-title {
	margin-bottom: 20px;
}
.item-title {
	color:#171717;
	font-weight:bold;
}
.item-content {
	
	color:#9e9e9e;
	
}
.item-more {
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#ff9e40;
	text-decoration:none;
}
.item-more:hover {
	color:#b8000e;
}

/*forsale*/

.forsale {
	overflow:hidden;
}
.forsale-title {
	font:20px/24px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#171717;
	margin-bottom:20px;
}
.forsale-item{
	float:left;
	width:25%;
	
}
.forsale-item img {
	width:75%;
}
.forsale-text {
	margin-bottom:25px;
	width:62%;
}
.forsale-price {
	font-weight:bold;
}

/*links*/
.links {
	overflow:hidden;
	width:700px;
}
.link-item {
	float:left;
	width:330px;
}
.link-title {
	margin-bottom:20px;
	font:20px/24px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#171717;
}
.link-text{
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#171717;
	margin:20px 0;
}
.link-list {
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#9e9e9e;
	
}
.link-list li{
	line-height:34px;
	text-decoration:none;
}
.link-list li a {
	text-decoration:none;
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#9e9e9e;
}
/*contacts*/
.contacts {
	overflow:hidden;
	width:700px;
}

.contacts-item {
	width:350px;
	float:left;
}
.contacts-title {
	font:20px/24px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom:20px;
}
.contact-address p{
	font:14px/20px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#9e9e9e;
}

.contact-address p:first-child {
	color:#171717;
}


#map {
	padding-bottom:300px;
	background:#9e9e9e;
	margin:0 20px 10px 0;
}

.input-box {
	padding: 10px;
	width:325px;
	margin-bottom:3px;
}

#message {
	height:200px;
	width:343px;
	resize:none;
}